{% extends "base.html" %}

{% block title %}: {{ post.title }}{% endblock %}

{% set wordcount = post.content|striptags|wordcount %}

{% block extraheader %}
  <link rel="canonical" href="{{ site.url }}{{ post|permalink }}" />
  <meta name="description" content="{% if post.description_source %}{{ post.description_source|striptags }}{% else %}{{ post.content|striptags|truncate }}{% endif %}" />
  <link rel="stylesheet" href="/static/not-home.css" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@kevinrenskers" />
  <meta name="twitter:image" content="{{ site.url }}/static/images/{{ post.filename }}.png" />
  <meta name="twitter:image:alt content="{{ post.title }}" />
  <meta property="og:url" content="{{ site.url }}{{ post|permalink }}" />
  <meta property="og:title" content="{{ post.title }} | {{ site.name }}" />
  <meta property="og:description" content="{% if post.description_source %}{{ post.description_source|striptags }}{% else %}{{ post.content|striptags|truncate }}{% endif %}" />
  <meta property="og:image" content="{{ site.url }}/static/images/{{ post.filename }}.png" />
  <meta property="og:image:width" content="1600"/>
  <meta property="og:image:height" content="840"/>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "{% if post.review %}Review{% else %}BlogPosting{% endif %}",
      {% if post.review %}
      "itemReviewed": {
        "@type": "Book",
        "name": "{{ post.review }}"
      },
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "{{ post.rating }}"
      },
      "description": "A review of {{ post.review }}",
      "reviewBody": "{% if post.description_source %}{{ post.description_source|striptags }}{% else %}{{ post.content|striptags|truncate }}{% endif %}",
      {% else %}
      "headline": "{{ post.title }}",
      "articleBody": "{% if post.description_source %}{{ post.description_source|striptags }}{% else %}{{ post.content|striptags|truncate }}{% endif %}",
      "wordCount": "{{ wordcount }}",
      {% endif %}
      "name": "{{ post.title }}",
      "author": {
        "@type": "Person",
        "name": "{{ post.author.name }}"
      },
      "url": "{{ site.url }}{{ post|permalink }}",
      "publisher": {
        "@type": "Person",
        "name": "{{ post.author.name }}"
      },
      "datePublished": "{{ post.date.isoformat() }}"
    }
  </script>
{% endblock %}

{% block main %}
  <div id="content">
    <article>
      <h1>{{ post.title }}</h1>

      <div class="article_info"><span class="time">{{ post.date.strftime('%B') }} {{ post.date.strftime('%d') }},
        <a href="{{ content_url(site.prefix, post.date.strftime('%Y'), 'index.html') }}">{{ post.date.strftime('%Y') }}</a></span>{{ wordcount }} words{%- if post.tags -%}
        , posted in {% for tag in post.tags -%}
        {%- if loop.index > 1 %}, {% endif -%}
        <a href="{{ tag|tag_url }}">{{ tag }}</a>
        {%- endfor -%}
        {%- endif -%}
      </div>

      <div class="article_content">
        {{ post.content }}
      </div>
    </article>

    <div id="article_footer">
      <p>Have feedback? Let me know on <a href="https://twitter.com/kevinrenskers">Twitter</a>.</p>
    </div>
  </div>
{% endblock %}
