<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ site.name }}{% block title %}{% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <link rel="stylesheet" href="/static/style.css" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />  
  <meta name="author" content="Kevin Renskers" />
  <meta name="keywords" content="freelance, developer, swift, objective-c, django, python, iPhone, iPad, iOS, macOS, Apple, development, usability, design, css, html5, javascript, review, groningen">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.feed }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
  <script async defer data-domain="loopwerk.io" src="https://plausible.io/js/plausible.js"></script>
  {% block extraheader %}{% endblock %}
</head>

<body>
  <nav>
    <ul>
      <li class="logo"><img src="/static/images/loopwerk_nav.svg" alt="Loopwerk logo" /></li>
      {% set active_page = active_page|default('Articles') -%}
      {% for item in theme.navigation %}
      <li>
        <a href="{{ item.link }}"{% if active_page == item.title %} class="active"{% endif %}>{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  
  {% block main %}{% endblock %}
</body>
</html>
