<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ site.name }}{% block title %}{% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/prism.css" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />  
  <meta name="author" content="Kevin Renskers" />
  <meta property="og:site_name" content="Loopwerk" />
  <meta name="keywords" content="freelance, developer, swift, objective-c, django, python, iPhone, iPad, iOS, macOS, Apple, development, usability, design, css, html5, javascript, review, groningen">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/articles/feed.xml" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
  <script async defer data-domain="loopwerk.io" src="https://plausible.io/js/plausible.js"></script>
  {% block extraheader %}{% endblock %}
</head>

<body>
  <nav>
    <ul>
      <li class="logo"><img src="/static/images/Loopwerk_mark.svg" alt="Loopwerk logo" /></li>
      <li>
        <a href="/" class="link_1{% if page.metadata.menu == 'home' %} active{% endif %}">Home</a>
      </li>
      <li>
        <a href="/articles/" class="link_2{% if page.metadata.menu == nil %} active{% endif %}">Articles</a>
      </li>
      <li>
        <a href="/apps/" class="link_3{% if page.metadata.menu == 'apps' %} active{% endif %}">Apps</a>
      </li>
      <li>
        <a href="/projects/" class="link_4{% if page.metadata.menu == 'projects' %} active{% endif %}">Projects</a>
      </li>
      <li>
        <a href="/mentor/" class="link_5{% if page.metadata.menu == 'mentor' %} active{% endif %}">Mentorship Program</a>
      </li>
      <li>
        <a href="/about/" class="link_6{% if page.metadata.menu == 'about' %} active{% endif %}">About</a>
      </li>
    </ul>
  </nav>
  
  {% block main %}{% endblock %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-core.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/autoloader/prism-autoloader.min.js"></script>
</body>
</html>
