{% extends "base.html" %}

{% block extraheader %}
  <meta name="description" content="A good app is like a mechanical watch: lots of moving parts all working together to create a beautiful and simple interface.">
  <link rel="stylesheet" href="/static/home.css" />
{% endblock %}        

{% block main %}
  <div id="content">
    <div class="header">
      <img src="/static/images/Loopwerk.svg" alt="Loopwerk logo" />
    </div>

    <div class="content">
      <h1>
        A <b>good app</b> is like<br>
        a <b>mechanical</b><br>
        <b>watch</b>: lots of<br>
        moving parts all<br>
        working<br>
        <b>together</b> to<br>
        create a<br>
        <b>beautiful</b> and<br>
        <b>simple</b> interface.
      </h1>

      <div class="right">
        {{ page.body }}
      </div>
    </div>

    <div class="footer">
      <a href="http://www.unilever.nl" title="Unilever"><img src="/static/images/unilever.png" alt="Unilever logo"></a>
      <a href="http://www.getsling.com" title="Sling"><img src="/static/images/sling.png" alt="Sling logo"></a>
      <a href="https://www.persgroep.nl/" title="De Persgroep"><img src="/static/images/persgroep.png" alt="De Persgroep logo"></a>
      <a href="https://www.siminn.is" title="Siminn"><img src="/static/images/siminn.png" alt="Siminn logo"></a>
      <a href="http://www.last.fm" title="Last.fm"><img src="/static/images/lastfm.png" alt="Last.fm logo"></a>
      <a href="https://www.radio.com" title="Radio.com"><img src="/static/images/radiocom.png" alt="Radio.com logo"></a>
      <a href="http://www.cbs.com" title="CBS"><img src="/static/images/cbs.png" alt="CBS logo"></a>
      <a href="https://www.metrolyrics.com" title="Metrolyrics"><img src="/static/images/metrolyrics.png" alt="Metrolyrics logo"></a>
    </div>
  </div>
{% endblock %}
