@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Regular"), url(/static/IBMPlexSans-Regular.ttf);
}

/* BODY */

body.home .site-footer {
  @apply hidden;
}

body.home .images img {
  @apply inline m-5 h-[28px];
}

/* LINKS */

nav a {
  @apply block border-b-2 border-transparent;
}

nav a:hover {
  @apply border-orange;
}

nav a.active {
  @apply border-orange text-white;
}

.gray-links a {
  @apply underline text-inherit;
}

.gray-links a:hover {
  @apply text-orange;
}

a.orange {
  @apply text-orange;
}

a.orange:hover {
  @apply underline;
}

a[href^="https://github.com"].app {
  background: transparent url("images/github.svg") no-repeat;
  background-size: 1em 1em;
  padding-left: 20px;
}

a[href^="https://itunes.apple.com"].app, a[href^="https://apps.apple.com"].app {
  background: transparent url("images/apple.svg") no-repeat;
  background-size: 1em 1em;
  padding-left: 20px;
}

/* PROSE */

.prose {
  @apply prose-code:before:hidden prose-code:after:hidden;
}

.prose code {
  @apply font-normal text-base text-white bg-sub p-1;
}

.prose pre {
  @apply shadow-lg shadow-nav py-4 rounded-md bg-sub;
  overflow: auto;
  overflow-y: hidden;
}

.prose pre code {
  @apply text-sm;
}

code .highlight {
  border: 1px solid var(--color-orange);
  padding: 2px 4px;
}

code .template {
  background: #1c6b86;
  color: #eeeeee;
  padding: 2px;
}

.prose hr {
  margin-left: 140px;
  margin-right: 140px;
}

.prose h1 {
  @apply font-semibold mt-12;
}

.fa-regular {
  font-weight: normal;
}

/* SCREENSHOTS */

.screenshots.break_1 span {
  @apply flex-1;
}

.screenshots.break_2 span {
  @apply flex-[0_0_50%] lg:flex-1;
}

.screenshots.break_3 span {
  @apply flex-[0_0_33%] lg:flex-1;
}

.screenshots img {
  padding: 3px 3px 0 0;
  border-radius: 0px;
  margin: 0;
}

.screenshots.rounded img {
  border-radius: 10%/4.7%;
}

@media (min-width: 860px) {
  .prose pre {
    margin-left: -20px;
    width: 840px;
    padding-left: 20px;
  }
  
  body.projects .bg-sub {
    margin-left: -20px;
    width: 840px;
    padding-left: 20px;
  }
}

/* PAGEFIND */

.pagefind-modular-list-image {
  display: none;
}

#search-form::before {
  background-color: var(--color-gray);
  width: 18px;
  height: 18px;
  top: 13px;
  left: 20px;
  content: "";
  position: absolute;
  display: block;
  opacity: 0.7;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7549 11.255H11.9649L11.6849 10.985C12.6649 9.845 13.2549 8.365 13.2549 6.755C13.2549 3.165 10.3449 0.255005 6.75488 0.255005C3.16488 0.255005 0.254883 3.165 0.254883 6.755C0.254883 10.345 3.16488 13.255 6.75488 13.255C8.36488 13.255 9.84488 12.665 10.9849 11.685L11.2549 11.965V12.755L16.2549 17.745L17.7449 16.255L12.7549 11.255ZM6.75488 11.255C4.26488 11.255 2.25488 9.245 2.25488 6.755C2.25488 4.26501 4.26488 2.255 6.75488 2.255C9.24488 2.255 11.2549 4.26501 11.2549 6.755C11.2549 9.245 9.24488 11.255 6.75488 11.255Z' fill='%23000000'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7549 11.255H11.9649L11.6849 10.985C12.6649 9.845 13.2549 8.365 13.2549 6.755C13.2549 3.165 10.3449 0.255005 6.75488 0.255005C3.16488 0.255005 0.254883 3.165 0.254883 6.755C0.254883 10.345 3.16488 13.255 6.75488 13.255C8.36488 13.255 9.84488 12.665 10.9849 11.685L11.2549 11.965V12.755L16.2549 17.745L17.7449 16.255L12.7549 11.255ZM6.75488 11.255C4.26488 11.255 2.25488 9.245 2.25488 6.755C2.25488 4.26501 4.26488 2.255 6.75488 2.255C9.24488 2.255 11.2549 4.26501 11.2549 6.755C11.2549 9.245 9.24488 11.255 6.75488 11.255Z' fill='%23000000'/%3E%3C/svg%3E%0A");
  -webkit-mask-size: 100%;
  mask-size: 100%;
  z-index: 9;
  pointer-events: none;
}

#search {
  background: var(--color-sub);
  height: 44px;
  padding: 0 70px 0 54px;
  border-radius: 6px;
  color: var(--color-white);
}

#search::placeholder {
  color: var(--color-gray);
  font-weight: 200;
}

.pagefind-ui__message {
  margin-top: 20px;
  margin-bottom: 40px;
}

.pagefind-modular-list-result {
  margin-top: 40px;
  list-style: none;
}

.pagefind-modular-list-link {
  @apply font-bold text-2xl;
}

.pagefind-modular-list-link:hover {
  border-bottom: 1px solid var(--color-orange)
}

.pagefind-modular-list-excerpt mark {
  background: var(--color-orange)
}
