@media screen {
  .page_content a[href^="https://github.com"]
  {
    background: transparent url("images/github.svg") no-repeat;
    background-size: 1em 1em;
    padding-left: 20px;
  }
  .page_content a[href^="https://itunes.apple.com"], .page_content a[href^="https://apps.apple.com"]
  {
    background: transparent url("images/apple.svg") no-repeat;
    background-size: 1em 1em;
    padding-left: 20px;
  }
  .page_content a.contains_image {
    padding-left: 0;
    border: 0;
    background: none;
  }
}

p.more {
  margin-top: 0;
}
a.more:before {
  content: "› ";
}
#content h1,
#content h2 {
  color: var(--text-color);
}
section h1 a,
section h2 a,
section h3 a {
  color: var(--text-color);
}
#content h1 {
  font-size: 1.5em;
  font-weight: bold;
}
#content .article_content h1,
.projects h1 {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 1.5em;
  border-bottom: 1px solid var(--code-background);
  margin-bottom: 1em;
}
#content h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 1.5em;
}
#content h3 {
  font-size: 1.1em;
  font-weight: bold;
}
#content h1 + h2 {
  margin-top: 1em;
}
#content h2 + h3 {
  margin-top: 1em;
}
#content h4 {
  font-size: 1em;
  font-weight: normal;
  color: #ccc;
}
section ul,
article ul,
ul.errorlist {
  padding-left: 1em;
  margin-bottom: 1.5em;
  list-style: square;
}
section ol,
article ol {
  padding-left: 1.5em;
  margin-bottom: 1.5em;
  list-style: decimal;
}
.article_info {
  color: var(--secondary-text-color);
  font-size: 0.875em;
  margin-bottom: 1em;
}
.article_info a {
  color: var(--secondary-text-color);
  border: 0;
  text-decoration: underline;
}
.article_info a:hover {
  color: var(--text-color);
}
.article_info .time {
  padding-right: 0.5em;
  margin-right: 0.5em;
  border-right: 1px solid var(--secondary-text-color);
}
section p {
  margin: 0;
}
section,
article {
  position: relative;
  margin: 0 0 1.5em;
}
article img {
  max-width: 100%;
}

.screenshots {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -3px;
}

.screenshots span {
  flex: 1;
  display: block;
}

@media screen and (max-width: 800px) {
  .screenshots.break_1 span {
    flex: 100%;
  }

  .screenshots.break_2 span {
    flex: 50%;
  }

  .screenshots.break_3 span {
    flex: 33.3%;
  }
}

.screenshots img {
  padding: 3px 3px 0 0;
  border-radius: 0px;
}

.screenshots.rounded img {
  border-radius: 10%/4.7%;
}

.app p {
  margin: 1.5em 0 0 0;
}

.projects {
  margin-top: 0.5em;
}

.projects p {
  margin: 0;
}

.project .footer {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  line-height: 1;
}

.project img {
  margin-left: 10px;
}

.project span.involvement {
  border: 1px solid white;
  padding: 2px 4px;
  color: white;
  font-weight: 200;
  margin-left: 5px;
  border-radius: 4px;
  opacity: 0.2;
}

.subprojects {
  background: var(--code-background);
  padding: 1em 0 0 1em;
  margin-bottom: 1.5em;
  overflow-x: hidden;
  font-size: 90%;
  margin-top: -1em;
  border-radius: 5px;
}

#content div.subprojects h2 {
  margin: 0 0 1em 0;
}

.subprojects .project {
  padding-right: 1em;
}

@media screen and (min-width: 800px) {
  .subprojects {
    display: flex;
    flex-wrap: wrap;
  }

  #content .subprojects h2 {
    flex: 100%;
  }

  .subprojects .project {
    flex: 0 50%;
  }
}

@media print {
  #article_footer {
    display: none;
  }
}
