@media screen {
  .page_content a[href^="https://github.com"] {
    background: transparent url('images/github.svg') no-repeat;
    background-size: 1em 1em;
    padding-left: 20px;
  }
  .page_content a[href^="https://itunes.apple.com"], .page_content a[href^="https://apps.apple.com"] {
    background: transparent url('images/apple.svg') no-repeat;
    background-size: 1em 1em;
    padding-left: 20px;
  }
  .page_content a.contains_image {
    padding-left: 0;
    background: none;
  }
  p.more {
    margin-top: 0;
  }
  a.more:before {
    content: '› ';
  }
  #content h1, #content h2 {
    color: var(--header-color);
  }
  h1 a, h2 a {
    color: var(--header-color);
  }
  section h1 a, section h2 a {
    border: 0;
  }
  #content h1 {
    font-size: 1.5em;
    font-weight: bold;
  }
  #content h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 1.5em;
  }
  #content h3 {
    font-size: 1.15em;
    font-weight: bold;
  }
  #content h1 + h2 {
    margin-top: 1em;
  }
  #content h2 + h3 {
    margin-top: 1em;
  }
  #content h4 {
    font-size: 1em;
    font-weight: normal;
    color: #CCC;
  }
  section ul, article ul, ul.errorlist {
    padding-left: 1em;
    margin-bottom: 1.5em;
    list-style: square;
  }
  section ol, article ol {
    padding-left: 1.5em;
    margin-bottom: 1.5em;
    list-style: decimal;
  }
  .article_info {
    color: var(--secondary-text-color);
    font-size: 0.875em;
    margin-bottom: 1em;
  }
  .article_info .time {
    padding-right: 0.5em;
    margin-right: 0.5em;
    border-right: 1px solid var(--secondary-text-color);
  }
  section p {
    margin: 0;
  }
  section, article {
    position: relative;
    margin: 0 0 1.5em;
  }
  article img {
    max-width: 100%;
  }
  #article_footer {
    color: var(--secondary-text-color);
    font-style: italic;
    font-size: 0.875em;
  }
}

.screenshots {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -3px;
}
.screenshots span {
  flex: 1;
  display: block;
}
@media screen and (max-width: 800px) {
  .screenshots.break_1 span {
    flex: 100%;
  }
  
  .screenshots.break_2 span {
    flex: 50%;
  }

  .screenshots.break_3 span {
    flex: 33.3%;
  }
}
.screenshots img {
  padding: 3px 3px 0 0;
}

.screenshots.rounded img {
  border-radius: 10%/4.7%;
}

.app p {
  margin: 1.5em 0 0 0;
}
