/**
 * atom-dark theme for `prism.js`
 * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 * @author Joe Gibson (@gibsjose)
 */

@media screen {
  /* Colors */
  :root {
    --code-background: #393e46;
    --code-color: #eeeeee;
    --token-comment: #7c7c7c;
    --token-punctuation: #c5c8c6;
    --token-property: #96cbfe;
    --token-keyword: #96cbfe;
    --token-tag: #96cbfe;
    --token-class-name: #ffffb6;
    --token-boolean: #99cc99;
    --token-constant: #99cc99;
    --token-symbol: #f92672;
    --token-number: #ff73fd;
    --token-selector: #a8ff60;
    --token-attr-name: #a8ff60;
    --token-inserted: #a8ff60;
    --token-string: #a8ff60;
    --token-builtin: #a8ff60;
    --token-variable: #c6c5fe;
    --token-operator: #ededed;
    --token-entity: #ffffb6;
    --token-url: #96cbfe;
    --token-atrule: #f9ee98;
    --token-attr-value: #f9ee98;
    --token-function: #dad085;
    --token-regex: #e9c062;
    --token-important: #fd971f;
  }

  @media screen and (prefers-color-scheme: light) {
    :root {
      --code-background: #dfe1e2;
      --code-color: #566b78;
      --token-comment: #39adb5;
      --token-punctuation: #39adb5;
      --token-property: #39adb5;
      --token-keyword: #7c4dff;
      --token-tag: #e53935;
      --token-class-name: #6182b8;
      --token-boolean: #99cc99;
      --token-constant: #7c4dff;
      --token-symbol: #7c4dff;
      --token-number: #f76d47;
      --token-selector: #e53935;
      --token-attr-name: #39adb5;
      --token-inserted: #a8ff60;
      --token-string: #39adb5;
      --token-builtin: #39adb5;
      --token-variable: #e53935;
      --token-operator: #39adb5;
      --token-entity: #e53935;
      --token-url: #e53935;
      --token-atrule: #7c4dff;
      --token-attr-value: #f6a434;
      --token-function: #7c4dff;
      --token-regex: #6182b8;
      --token-important: #7c4dff;
    }
  }

  pre {
    font-size: 100%;
    width: 100%;
    padding: 1em;
    overflow: auto;
    overflow-y: hidden;
    border-radius: 5px;
  }

  code {
    padding: 2px 4px;
  }

  pre,
  code {
    background: var(--code-background);
    color: var(--code-color);
  }

  pre code {
    padding: 0;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: var(--token-comment);
  }

  .token.punctuation {
    color: var(--token-punctuation);
  }

  .namespace {
    opacity: 0.7;
  }

  .token.property {
    color: var(--token-property);
  }

  .token.keyword {
    color: var(--token-keyword);
  }

  .token.tag {
    color: var(--token-tag);
  }

  .token.class-name {
    color: var(--token-class-name);
  }

  .token.boolean {
    color: var(--token-boolean);
  }

  .token.constant {
    color: var(--token-constant);
  }

  .token.symbol,
  .token.deleted {
    color: var(--token-symbol);
  }

  .token.number {
    color: var(--token-number);
  }

  .token.selector {
    color: var(--token-selector);
  }

  .token.attr-name {
    color: var(--token-attr-name);
  }

  .token.inserted {
    color: var(--token-inserted);
  }

  .token.string,
  .token.char {
    color: var(--token-string);
  }

  .token.builtin {
    color: var(--token-builtin);
  }

  .token.variable {
    color: var(--token-variable);
  }

  .token.operator {
    color: var(--token-operator);
  }

  .token.entity {
    color: var(--token-entity);
    cursor: help;
  }

  .token.url {
    color: var(--token-url);
  }

  .token.atrule {
    color: var(--token-atrule);
  }

  .token.attr-value {
    color: var(--token-attr-value);
  }

  .token.function {
    color: var(--token-function);
  }

  .token.regex {
    color: var(--token-regex);
  }

  .token.important {
    color: var(--token-important);
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  pre code .highlight {
    border: 1px solid var(--accent);
    padding: 2px 4px;
  }

  code .template {
    background: #1c6b86;
    color: #eeeeee;
    padding: 2px;
  }
}

pre {
  margin-bottom: 1.715em;
}

pre,
code {
  font-family: "Anonymous Pro", ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}
